@import "@material-symbols/font-400";

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-size: 64px;
}

span.icon-navbar {
  color: theme(colors.tokio);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.text-shadow {
  text-shadow: 2px 2px 4px #0d0019;
}
